body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}




.img-medium {
    height: 200px;
}


    
  .minu{  

    margin:0;
    padding:0;

    text-decoration : none;
    display:block;

    float:left;
    width:100px;
    height:40px;
    font-size:15px;
    text-align:left;


    background-color:grey;
}



