body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}




.img-medium {
    height: 200px;
}

ul{
    margin:0;
    padding:0;

}

ul li a{
    text-decoration : none;
    display:block;
}


ul li{
    float:left;
    width:100px;
    height:60px;
    font-size:18px;
    text-align:center;
}

ul li a:hover{
    background-color:grey;
}


